body {
  line-height: 1;
  font-family: "Rubik", sans-serif;
  color: #4F5665;
  font-weight: 400;
  background-color: white;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  font-family: "Rubik", sans-serif;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  display: inline-block;
  padding: 13px 45px;
  border-radius: 100rem;
  text-decoration: none;
  line-height: 1;
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: none;
}
.button--primary {
  background-color: #F53838;
  color: white;
  font-weight: 700;
}
.button--outline {
  background-color: transparent;
  color: #F53838;
  font-weight: 500;
  border: 1px solid;
}
.button--rounded {
  border-radius: 10px;
  padding: 17px 65px;
}
.button--shadow {
  position: relative;
}
.button--shadow:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 90%;
  height: 100%;
  transform: translate(-50%, 50%);
  background: rgba(245, 56, 56, 0.35);
  filter: blur(54px);
  border-radius: 60px;
  z-index: -1;
}

.boxed {
  max-width: 555px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.header {
  padding-top: 50px;
  padding-bottom: 90px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-auth {
  display: flex;
  align-items: center;
  gap: 0 30px;
}
.header-signin {
  font-weight: 500;
  color: #0B132A;
  text-decoration: none;
}
.header-signup {
  padding: 13px 45px;
  border-radius: 100rem;
  color: #F53838;
  border: 1px solid;
  text-decoration: none;
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0 40px;
}
.menu-link {
  color: inherit;
  text-decoration: none;
}

.hero {
  margin-bottom: 102px;
}
.hero-container {
  display: flex;
  gap: 0 40px;
  justify-content: center;
  align-items: center;
}
.hero-content {
  min-width: 555px;
}
.hero-heading {
  line-height: 1.4;
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 20px;
}
.hero-desc {
  line-height: 1.875;
  margin-bottom: 50px;
}

.intro {
  margin-bottom: 95px;
}
.intro-container {
  background: #FFFFFF;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  box-shadow: 0 42px 114px rgba(13, 16, 37, 0.064);
  min-height: 200px;
  padding: 37px 0;
}
.intro-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 36px;
  font-size: 20px;
}
.intro-item:nth-child(2) {
  border-left: 2px solid #EEEFF2;
  border-right: 2px solid #EEEFF2;
}
.intro-title {
  font-size: 25px;
  line-height: 1.2;
  margin-bottom: 5px;
}
.intro-text {
  font-size: 20px;
  line-height: 1.5;
}

.feature {
  padding-bottom: 120px;
}
.feature-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 170px;
}
.feature-image img {
  width: 508px;
  height: 414px;
}
.feature-desc {
  margin-bottom: 20px;
}
.feature-list {
  list-style: none;
  padding-left: 0;
}
.feature-item {
  display: flex;
  align-items: center;
  gap: 0 10px;
  margin-bottom: 23px;
  font-size: 14px;
}

.plan {
  padding: 80px 0 30px;
  background: linear-gradient(180deg, #F8F8F8 -45.04%, rgba(248, 248, 248, 0) 88.56%);
}
.plan-header {
  max-width: 555px;
  margin: 0 auto 60px;
  text-align: center;
}
.plan-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0 50px;
  margin-bottom: 150px;
}
.plan-item {
  background: #FFFFFF;
  border: 2px solid #DDDDDD;
  border-radius: 10px;
  padding: 80px 50px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.plan-image img {
  margin: 0 auto 30px;
}
.plan-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6666666667;
}
.plan-info {
  display: flex;
  align-items: center;
  min-width: 200px;
  gap: 0 20px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 2.1428571429;
}
.plan-price {
  font-size: 25px;
  font-weight: 500;
  margin-top: auto;
  margin-bottom: 20px;
}
.plan-item.is-active, .plan-item:hover {
  border-color: #F53838;
}
.plan-item.is-active .button, .plan-item:hover .button {
  background-color: #F53838;
  color: white;
}
.plan-details {
  margin-bottom: 50px;
}

.network-heading {
  max-width: 380px;
  margin: 0px auto 0px;
}
.network-image {
  margin: 155px auto 0px;
  max-width: 1060px;
  height: 538px;
}

.partner {
  margin-bottom: 50px;
}
.partner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 60px;
}

h1, h2, h3, h4, h5, h6 {
  color: #0B132A;
  font-weight: bold;
}

.heading {
  font-weight: 500;
  font-size: 35px;
  line-height: 1.4285714286;
  margin-bottom: 20px;
  color: #0B132A;
}

.heading-small {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 5px;
  line-height: 1.6666666667;
}

.text {
  line-height: 1.875;
  font-weight: 400;
}

.text-medium {
  font-weight: 500;
}

.text-small {
  font-size: 14px;
  line-height: 2.1428571429;
}

.customer {
  padding-bottom: 65px;
}
.customer .boxed {
  margin-bottom: 60px;
}
.customer .heading {
  max-width: 447px;
  margin-left: auto;
  margin-right: auto;
}
.customer-item {
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 30px;
}
.customer-item.slick-current.slick-active {
  border-color: #F53838;
}
.customer-top {
  margin-bottom: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.customer-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 20px;
}
.customer-avatar {
  width: 50px;
  height: 50px;
}
.customer-avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100rem;
}
.customer-name, .customer-heading {
  line-height: 1;
}
.customer-rating {
  display: flex;
  align-items: center;
  gap: 0 10px;
}
.customer .slick-dots {
  display: flex;
  list-style: none;
  gap: 0 15px;
  transform: translateY(50%);
}
.customer .slick-dots button {
  background-color: #DDE0E4;
  width: 15px;
  height: 15px;
  border-radius: 100rem;
  font-size: 0;
  transition: all 0.3s linear;
}
.customer .slick-active button {
  background-color: #F53838;
  width: 45px;
  height: 15px;
}
.customer .slick-track {
  display: flex;
  gap: 0 50px;
  padding-bottom: 60px;
}
.customer .slick-prev {
  background-color: #FFFFFF;
  border: 1px solid #F53838;
  right: 80px;
}
.customer .slick-next {
  background-color: #F53838;
  right: 0;
}
.customer .slick-arrow {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  transform: translateY(50%);
  z-index: 10;
}

.subscribe-container {
  background: #FFFFFF;
  border-radius: 10px;
  padding: 58px 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 30px 114px 0 rgba(13, 16, 37, 0.06);
}
.subscribe-content {
  max-width: 370px;
  margin-bottom: 20px;
}

.footer {
  padding-bottom: 100px;
  padding-top: 180px;
  background-color: #F8F8F8;
}
.footer-container {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  grid-gap: 0 126px;
}
.footer-logo {
  margin-bottom: 20px;
}
.footer-desc {
  margin-bottom: 30px;
}
.footer-heading {
  margin-bottom: 20px;
}
.footer-item {
  margin-bottom: 10px;
}
.footer-link {
  color: inherit;
  line-height: 1.875;
}
.footer .social {
  display: flex;
  align-items: center;
}
.footer .copyright {
  color: #AFB5C0;
}
.footer-links {
  list-style: none;
  display: table-row;
}/*# sourceMappingURL=app.css.map */