.network {

    &-heading {
        max-width: 380px;
        margin: 0px auto 0px;
    }

    &-image {
        margin: 155px auto 0px;
        img{
            max-width: 994px;
            height: 538px;
        }
    }
}

.partner{
    margin-bottom: 50px;
    &-container{
        display: flex;
        gap: 0 60px;
        align-items: center;
        justify-content: center;
    }
    &-item{
        width: 157px;
        img{
            width: 100%;
            height: 100%;
        }
    }
}

@media screen and (max-width: 1023.98px) {
    .network-image {
        margin-top: 50px;
        max-width: 550px;
        max-height: 250px;
        img {
            width: 100%;
            height: 100%;
        }
    }

    .partner-container {        
        gap: 0 10px;
    }
}